<form action="/brand/add" method="post">
Brand name: <input type="text" name="name" required>
Brand country: <input type="text" name="country" required>
<br>
<br>
<input type="submit" value="ADD">

</form>
